.main {
    padding: 20px;

}

.card-div {
    /* font-family: "Nunito Sans"; */
    word-wrap: break-word;
    margin-top: 30px;
    margin: auto;
    
    width: 80%;
    max-width: 600px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    position: relative;
}

.user-profile-div {
    height: 500px;
    /* border: 1px solid black; */
}

.profile {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    object-fit: contain;
}

.wave1 {
    position: absolute;
    top: 43%;
    left: 0;
}

.wave2 {
    position: absolute;
    top: 45%;
    left: 0;
}

.profile-details-class {
    border-left: 1px dotted black;
    margin-top: -80px;
    margin-left: 30px;
    padding-left: 20px;
    text-align: left;
    line-height: 0.7;
}

/* .icondiv {
    position: absolute;
    right: 0;
    text-align: right;
    margin-right: 30px;
} */

.icon {
    height: 90px;
    width: 90px;
}

.profile-details-name {
    font-weight: 500;
    font-size: 50px;
}

.profile-details-title {
    font-weight: 200;
    
}

.profile-details-dept {
    color: red;
}


profile-details-comp {
    color: red;
    font-style: italic;
}



.media-class {
    font-weight: 500;
    color: #c5261b;
    font-size: 20px;
    text-align: left;
    margin: 30px;
}

.contact-details {
    text-align: left;
    margin-left: 20px;
    padding: 10px;
    margin-right: 10px;
}

.email-box {
    display: flex;
    align-items: center;
    gap: 20px;
    line-height: 0.2;
}

.mobile-box {
    display: flex;
    gap: 20px;
    align-items: center;
    line-height: 0.2;
}

.content-box {
    display: flex;
    gap: 20px;
    align-items: center;
    line-height: 0.2;
    margin: 40px 0px 0px 0px;
}

.mobile-icon {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    background-color: red;
}
.text-style{
    width: 80%;
    line-height: 1;
}
.text-style>h3 {
    font-weight: 700;
    font-size: 20px;
}

.text-style>h4 {
    font-weight: 300;
    font-size: 20px;
}

.custom-link {
    color: inherit;
    /* Set the color to inherit to use the default text color */
    text-decoration: none;
    margin-top: 10px;
    /* Remove the underline */
}
.savebtn {
    color: white;
    background-color: #c5261b;
    width: 20%;
    height: 50px;
    border-radius: 10px;
    border: 0px;
    margin-top: 20px;
    font-size: 22px;
    position: fixed;
    left: 40%;
    top: 88%;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .card-div {
        width: 90%;
    }

    .profile-details {
        font-size: 10px;
        margin-top: -40px;
    }

    .profile-details>h1 {
        font-size: 15px;
    }

   

    
    .savebtn {
        width: 50%;
        left: 25%;
    }

    .media {
        font-size: 10px;
    }

    .mobile-icon {
        height: 40px;
        width: 40px;
    }

        .text-style>h3 {
            font-weight: 550;
            font-size: 20px;
        }

    .wave1 {
        top: 42%;
    }

    .wave2 {
        top: 44%;
    }

    .text-style>h4 {
        font-weight: 300;
        font-size: 15px;
    }

    .user-profile-div {
        height: 400px;
    }
        .custom-link {
            color: inherit;
            text-decoration: none;
        }
}

/* Media query for screens with a minimum width of 601 pixels and a maximum width of 900 pixels */
@media only screen and (min-width: 601px) and (max-width: 900px) {
    .card-div {
        width: 90%;
    }

    .icon {
        height: 80px;
        width: 80px;
    }

    .savebtn {
        width: 50%;
        left: 25%;
    }
        .text-style>h3 {
            font-weight: 450;
            font-size: 20px;
        }
                .custom-link {
                    color: inherit;
                    text-decoration: none;
                }
}